.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.navbar .logo{
    width: max(2vw, 20px);
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}
.nav_right{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}
.navbar select{
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    color: white;
}
.navbar option{
    background-color: white;
    color: white;
}
.navbar button img{
    width: 13px;
}